.page {
    margin-top: 100px;
    padding-left: 50px;
    text-align: center;
  }
 p {
    color: rgb(244, 91, 190);
    font-weight: bold;
 }
  body {
    background-image: url('../images/bg.webp'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .ps {
    color: gray;
    font-family: "Microsoft YaHei", sans-serif;
  }